@charset "utf-8";


/* font */
 @font-face {
    font-family: 'GmarketSansTTFBold';
    src: url(../font/GmarketSansTTFBold.ttf);
 }
 
 @font-face {
  font-family: 'GmarketSansTTFLight';
  src: url(../font/GmarketSansTTFLight.ttf);
}
 
 @font-face {
    font-family: 'GmarketSansTTFMedium';
    src: url(../font/GmarketSansTTFMedium.ttf);
 }


/* reset */
body{font-family:'GmarketSansTTFLight','sans-serif';}
*{margin: 0;padding: 0; border: 0;}
a{text-decoration: none;color: #000;}
ol, ul{list-style: none;}
img{vertical-align: middle; max-width: 100%}

/* common */
.center{
  position: relative;
  max-width: 1400px;
  margin: auto;
}
/* title */
.title{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}
.pfTit::before,
.pfTit::after{
    content: '';
    background: url(../img/slash.png) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 60px;
    height: 15px;
    margin: 0 55px 0 55px;
}

/* 타이핑 효과 */
.typing-txt{display: none;}
.typing ul li{
  display:block;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

/* header ==================*/
header .nav-mobile {
  display: none;
}
header{
  position: fixed;
  width: 100%;
  line-height: 40px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #0450a0;
  z-index: 99;
}
header .nav{
  float: right;
}
header .nav li{
  display: inline-block;
  margin-right: 20px;
}
header .nav li>a{
  color: #fff;
}
header .nav>li>a::after{
  content: '';
  display: block;
  width: 0%;
  height: 4px;
  margin: auto;
  background: #fbed99;
  transition: width 0.2s;
}
header .nav>li:hover>a::after{
  width: 100%;
}
header .nav>li:hover>a{
  color: #fbed99;
}

header .nav-tit{
  color: #f5bee2;
}

/* scroll */
.scroll header{
  background: url(../img/main2.png)  center;
  line-height: 20px;
 }

/* main ================== */
.main{
  background: url(../img/main2.png) no-repeat center;
  background-size: cover;
  position: relative;
  height: 800px;
}
.main .txtWrap{
  padding: 300px 0;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}
.main .txtWrap h3{
  font-weight: bold;
  font-size: 50px;
}
.main .txtWrap h3.pfTxt{
 font-size: 84px;
 font-weight: 100;
}
.main .txtWrap .typingTxt{
  font-size: 18px;
  text-align: center;
}

/* about ================== */
#about{
  background: #f9faff;
  height: 700px;
  padding: 100px 0;
}
#about .abtitle{
  color: #0450a0;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 0 0 80px 0;
}
#about .infoWrap{
  /* position: relative;
  height: 500px; */
}
#about .infoWrap .wrap{
  position: relative;
}
#about .infoWrap .profile{
  width: 30%;
  /* margin: 104px 30px; */
  position: absolute;
  left: 210px;
  /* height: 300px; */
  /* margin: 80px 50px; */
  border-radius: 50%;
  overflow: hidden;
}
#about .infoWrap .profile>img {
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}
#about .infoWrap .profile>img:hover {
  filter: grayscale(0%);
  transition: .5s ease-in-out;
}

#about .txtWrap{
  width: 50%;
  /* display: inline-block; */
  position: absolute;
  right: 0;
}

#about .txt{
  padding: 0 0 20px 0;
}
#about .txt>h3{
  color:#0450a0;
  padding: 10px 0;
}

#about .infoList .list{
  padding: 0 0 10px 0;
}
#about .infoList .list li>p{
  padding: 5px 0;
}
#about .infoList .list .date{
  color:#989696;
}



/* portfolio ================== */
.clear{
  display: block;
  clear: both;
}
#portfolio{
  width: 100%;
  padding: 100px 0 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
#portfolio .center .pfWrap {
  position: relative;
  height: 650px;
  margin-top: 200px;
}

#portfolio .center .pfWrap .pfNum{
  font-family: 'Nanum Myeongjo';
  font-size: 523px;
  color: #e6e7f0;
  position: absolute;
  z-index: -1;
}
#portfolio .pfWrap .textBox {
  right: 0;
  padding: 100px 80px 0;
  float: left;
}

#portfolio .textBox .textTit{
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1px;
}
#portfolio .textBox .textSkile {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 16px 0 24px;
}

#portfolio .textBox .textTit>.subTit{
  font-size: 28px;
}
#portfolio .textBox .headline {
  width: 100px;
  height: 6px;
  background: rgb(4,80,160);
  background: linear-gradient(90deg, rgba(4,80,160,1) 0%, rgba(241,184,165,1) 91%);
}
#portfolio .textBox .caption {
  font-size: 16px;
  font-weight: 300;
  margin: 16px 0 24px;
  clear: both;
  padding-top: 16px;
}

/* button 효과 */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

button {
  background: none;
  border: 1px solid #5167f4;
  color: #5167f4;
  /* display: inline-grid; */
  font-size: 10px;
  width: 160px;
  height: 40px;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: rgb(81,103,244);
  background: linear-gradient(90deg, rgba(81,103,244,1) 0%, rgba(241,184,165,1) 91%);
  border: none;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}

.btn::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn:hover:after {
  width: 100%;
}

/* left */
#portfolio .center .pfWrap.left>.pfNum{
  left: -170px;
  top: -270px;
}
#portfolio .center .pfWrap.left .imgBox {
  float: left;
}

/* right */
#portfolio .center .pfWrap.right>.pfNum{
  right:-170px;;
  top: -350px;
}
#portfolio .center .pfWrap.right .imgBox{
  float: right;
}
#portfolio .center .pfWrap.right .textBox {
  float: right;
  text-align: right;
  padding: 120px 80px 0;
}

#portfolio .center .pfWrap.right .imgBox .item{
  float: right;
}

#portfolio .center .pfWrap.right .textBox .headline{
  float: right;
}

/* work ================== */
#work {
  padding: 50px 0 200px 0;
}

#work>.title {
  padding: 50px 0;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  color: #f5bee2;
}

/* contact ==================*/
#contact {
  padding: 20px 0;
  background: url(../img/main2.png) center;
}

#contact .tnkWrap{
  text-align: center;
  color:#fff;
}

#contact .contact li{
  font-size: 16px;
  padding: 30px 0 0;
  text-align: center;
}

/* 버튼효과 */
.btnBox li a::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btnBox li a:hover:after {
  width: 100%;
}


#contact .contact{
  font-weight: normal;
  color:#fff;
}
