@charset "utf-8";


/* font */

 @font-face {
    font-family: 'NanumGothic';
    src: url(../font/NanumSquareL.ttf);
    font-weight: 200;
 }
 
 @font-face {
  font-family: 'NanumGothic';
  src: url(../font/NanumSquareR.ttf);
  font-weight: 400;
}
 
 @font-face {
    font-family: 'NanumGothic';
    src: url(../font/NanumSquareB.ttf);
    font-weight: 600;
 }
 @font-face {
  font-family: 'NanumGothic';
  src: url(../font/NanumSquareEB.ttf);
  font-weight: 800;
}
 

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

/** 이하는 공통 **/
.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w600 {
 font-weight: 600;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}


  body{font-family:'NanumGothic','sans-serif';}

/* reset */
*{margin: 0;padding: 0; border: 0;}
a{text-decoration: none;color: #000;}
ol, ul{list-style: none;}
img{vertical-align: middle; max-width: 100%}
/* common */
.center{
  position: relative;
  max-width: 1400px;
  margin: auto;
}
.inner{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

/* title */
.title{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}
.pfTit::before,
.pfTit::after{
    content: '';
    background: url(../img/slash.png) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 60px;
    height: 15px;
    margin: 0 55px 0 55px;
}


/* 타이핑 효과 */
.typing-txt{display: none;}
.typing ul li{
  display:block;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}


/* header */
header .nav-mobile {
  display: none;
}

header nav{
  position: fixed;
  width: 100%;
  line-height: 40px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #1f4af8;
  z-index: 99;
}
header .nav-pc {
  float: right;
}
header  .nav-pc li{
  display: inline-block;
  margin-right: 20px;
}
header  .nav-pc li>a{
  color: #fff;
}
header nav .nav-pc>li>a::after{
  content: '';
  display: block;
  width: 0%;
  height: 4px;
  margin: auto;
  background: #1f4af8;
  transition: width 0.2s;
}
header nav .nav-pc>li:hover>a::after{
  width: 100%;
}
header nav .nav-pc>li:hover>a{
  color: #93a9ff;
}

header nav .nav-tit{
  color: #ccc;
}

/* scroll */
.scroll header nav{
  background: #5167f4;
  line-height: 20px;
 }




/* main */
.main{
  background: url(../img/main2.png) no-repeat center;
  background-size: cover;
  position: relative;
  height: 800px;
}
.main .txtWrap{
    padding: 300px 0px 0px 100px;
    box-sizing: border-box;
    color: #fff;
}
.main .txtWrap h3{
  font-weight: bold;
  font-size: 50px;
}
.main .txtWrap h3.pfTxt{
 font-size: 84px;
 font-weight: 100;
}
.main .txtWrap .typingTxt{
  font-size: 18px;
  text-align: center;
}


/* about */
#about{
  background: #f9faff;
  height: 600px;
  padding: 100px 0;
}

#about .profile{
  float: left;
}
#about .abtitle{
  color: #5167f4;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 0 0 80px 0;
}
#about .profile{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 80px 50px;
  border-radius: 50%;
  overflow: hidden;
}

#about .profile>img:hover {
  filter: grayscale(0%);
  transition: .5s ease-in-out;
} 

#about .profile>img {
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}

#about .infoWrap{
  padding: 0 50px;
}
.txtWrap{
  display: inline-block;
}

#about .date{
  color:#989696;
}
#about .txt{
  padding: 0 0 20px 0;
}
#about .txt>h3{
  color:#5167f4;
  padding: 10px 0;
}
#about li>p{
  padding: 5px 0;
}

#about .edu_list{
  padding: 0 0 10px 0;
}

/* #about .wrap{
  position: absolute;
  left: 40%;
  bottom: 50%;
}
#about .wrap>.headline {
  font-size: 48px;
  font-weight: 500;
} */

/* portfolio */

.clear {
  content: '';
  display: block;
  clear: both;
}

#portfolio{
  width: 100%;
  padding: 100px 0 0;
  box-sizing: border-box;
  position: relative;
}
#portfolio .center .pfWrap {
  position: relative;
  height: 650px;
  margin-top: 200px;
}
#portfolio .center .pfWrap.left>.pfNum{
  font-family: 'Nanum Myeongjo';
  font-size: 523px;
  color: #e6e7f0;
  position: absolute;
  left: -170px;
  top: -270px;
  z-index: -1;
}

#portfolio .center .pfWrap.right>.pfNum{
  font-family: 'Nanum Myeongjo';
  font-size: 523px;
  color: #e6e7f0;
  position: absolute;
  right:-170px;;
  top: -350px;
  z-index: -1;
}

#portfolio .center .pfWrap.left .imgBox {
  float: left;
}

#portfolio  .pfWrap .textBox {
  right: 0;
  padding: 100px 80px 0;
  float: left;
}

.textBox .textTit{
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1px;
}
.textBox .textSkile {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 16px 0 24px;
}

.textBox .textTit>.subTit{
  font-size: 28px;
}
.textBox .headlineUnderBox {
  width: 100px;
  height: 6px;
  background: rgb(81,103,244);
  background: linear-gradient(90deg, rgba(81,103,244,1) 0%, rgba(241,184,165,1) 91%);
}
.textBox .caption {
  font-size: 16px;
  font-weight: 300;
  margin: 16px 0 24px;
  clear: both;
  padding-top: 16px;
}


/* btnBox */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

button {
  background: none;
  border: 1px solid #1f4af8;
  /* border-radius: 5px; */
  color: #1f4af8;
  display: inline-grid;
  font-size: 10px;
  width: 160px;
  height: 40px;
  /* font-weight: bold; */
  /* margin: 1em auto; */
  /* padding: 1.5em 6em; */
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: rgb(81,103,244);
  background: linear-gradient(90deg, rgba(81,103,244,1) 0%, rgba(241,184,165,1) 91%);
  border: none;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}

/* BUTTON 2 */
.btn::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn:hover:after {
  width: 100%;
}

/* right */
#portfolio .center .pfWrap.right .textBox {
  float: right;
  /* right: 54%; */
  text-align: right;
  padding: 120px 80px 0;
}
#portfolio .center .pfWrap.right .imgBox{
  float: right;
}

#portfolio .center .pfWrap.right .imgBox .item{
  float: right;
}

#portfolio  .pfWrap.right .textBox .headlineUnderBox{
  float: right;
}
/* contact */
#contact {
  padding: 20px 0;
  background: #5167f4;
}

#contact .tnkWrap{
  text-align: center;
  color:#fff;
}
/* 
#contact .contact{
  font-size: 12px;
} */
#contact .contact li{
  font-size: 16px;
  padding: 30px 0 0;
  text-align: center;
}

/* 버튼효과 */
.btnBox li a::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btnBox li a:hover:after {
  width: 100%;
}

/* 애니메이션 효과 */
/* #about .aboutTxt {
  animation-name: movingPara;
  animation-duration: 3s;
} */

/* @keyframes movingPara {
  from { margin-left: 100%; }
  to { margin-left: 0%; }

} */

#work {
  padding: 50px 0 200px 0;
}

#work>.title {
  padding: 50px 0;
}

.contact{
  font-weight: normal;
  color:#fff;
}