@charset "utf-8";

.center {
    max-width: 719px;
}
.title{
    font-size: 18px;
}

header .nav{
    float: none;
    overflow-y: auto;
    z-index: 50;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #f9faff;;
    transition: left 0.5s;
}
header .nav-mobile {
    z-index: 50;
    display: block;
    /* position: absolute; */
    /* left: 10px; */
    color: #fbed99;
}
header .nav-tit{
    display: none;
}
header .nav li{
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    margin-right: 0;
    height: 100px;
}
header .nav>li:hover>a{
    color:#0450a0;
}
header .nav li>a{
    line-height: 100px;
    margin: 0;
    padding: 0 25px;
    box-sizing: border-box;
    color: #0450a0;
}
header .nav>li>a::after{
   display: none;
}
/* open */
.open .nav {
    left: 0;
}
.open .nav-mobile  {
    left: 60%;
    color: #fbed99;
}
/* scroll */
.scroll header {
    /* line-height: 30px; */
    width: 80px;
}
/* main */
.main {
    position: relative;
    height: 500px;
    padding: 100px 0;
    box-sizing: border-box;
}

.main .txtWrap {
    padding: 100px 0px;
}

.main .txtWrap h3 {
    font-weight: bold;
    font-size: 22px;
}
.main .txtWrap h3.pfTxt {
    font-size: 36px;
    font-weight: 100;
}

.txtWrap {
    text-align: center;
}

/* about me ======================*/
#about {height: 880px;
}
#about .abtitle{
    font-size: 18px;
    padding: 20px 0;
}
#about .infoWrap{
    height: auto;
}
#about .infoWrap .wrap{
    /* position: relative;
    top: 40%;
    left: initial;
    transform: initial; */
}
/* #about .profile{
    margin: 0 0 30px 0;
    width: 100%;
    max-width: 300px;
    height: 300px;
} */

#about .infoWrap .profile{
    max-width: 200px;
    width: 100%;
    /* float: initial; */
    left: 50%;
    margin: 20px auto;
    transition: -50% -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -3%, 0);
}
#about .txtWrap{
    display: block;
    width: 100%;
    top: 280px;
}

#about .txtWrap .txt {
    padding: 0 0 20px 0;
}

/* portfolio */
#portfolio{
    padding: 50px 20px;
}
.pfTit::before, .pfTit::after {
    margin: 0 10px;
}
#portfolio .center .pfWrap.right .textBox,
#portfolio .pfWrap .textBox {
    padding: 60px 20px 0;
    text-align: center;
}
#portfolio .textBox .headline{
    margin: auto;
}
#portfolio .center .pfWrap.right .textBox .headline{
    float: initial;
}
button{
    display: block;
    margin: 20px auto;
    width: 60%;
}
.swiper-slide{
    width: 80% !important;
}