@charset "utf-8";

.center {
    max-width: 719px;
    padding-bottom: 40px;
}
.title {
    font-size: 24px;
}

header .nav{
    float: none;
    overflow-y: auto;
    z-index: 50;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #f9faff;;
    transition: left 0.5s;
}
header .nav-mobile {
    z-index: 50;
    display: block;
    position: absolute;
    color: #fbed99;
}
header .nav-tit{
    display: none;
}
header .nav li{
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    margin-right: 0;
    height: 100px;
}
header .nav>li:hover>a{
    color:#5167f4;
}
header .nav li>a{
    line-height: 100px;
    margin: 0;
    padding: 0 25px;
    box-sizing: border-box;
    color: #5167f4;
}
header .nav>li>a::after{
   display: none;
}
/* open */
.open .nav {
    left: 0;
}
.open .nav-mobile  {
    left: 25%;
    color: #fbed99;
}
/* scroll */
.scroll header {
    background: url(../img/main2.png) center;
    line-height: 10px;
    width: 80px;
}
/* main */
.main {
    position: relative;
    height: 500px;
    padding: 44px 0;
    box-sizing: border-box;
}

.main .txtWrap {
    padding: 160px 0px;
}

.main .txtWrap h3 {
    font-weight: bold;
    font-size: 22px;
}
.main .txtWrap h3.pfTxt {
    font-size: 36px;
    font-weight: 100;
}

.txtWrap {
    text-align: center;
}

/* about me ======================*/
#about {
    position: initial;
    padding: 50px 0;
    height: 940px;
}
#about .abtitle{
    font-size: 18px;
    padding: 20px 0;
}
#about .infoWrap{
    height: auto;
}
#about .infoWrap .wrap{
    position: relative;
    top: 40%;
    left: initial;
    transform: initial;
}
/* #about .profile{
    margin: 0 0 30px 0;
    width: 100%;
    max-width: 300px;
    height: 300px;
} */

#about .infoWrap .profile{
    max-width: 200px;
    width: 100%;
    margin: 20px 40px auto
}
#about .txtWrap{
    display: block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    top: 270px;
}

#about .txtWrap .txt {
    padding: 0 0 20px 0;
}

/* portfolio */

#portfolio {
    padding: 100px 0;
}
.pfTit::before, .pfTit::after {
    margin: 0 10px;
}
#portfolio .center .pfWrap.right .textBox,
#portfolio .pfWrap .textBox {
    text-align: center;
    padding: 40px 0;
    float: inherit;
}
#portfolio .textBox .headline{
    margin: auto;
}
#portfolio .center .pfWrap.right .textBox .headline{
    float: initial;
}
#portfolio .center .pfWrap.left .imgBox {
    float: inherit;
}

button{
    display: block;
    margin: 20px auto;
    width: 60%;
}

#work {
    padding: 50px 0 100px 0;
}